{{ template "header.tmpl" . }}

        <article>
           <h3>about</h3>
          <div class="post-content">
                {{ .post.HTMLContent }}
            </div>

        </article>

{{ template "footer.tmpl"}}