<footer>
            <nav>
                <ul>
                    <li>
                        <small>Made by <a href="http://yuancoder.com">YuanCoder</a> 2021</small>
                    </li>
                </ul>
            </nav>
        </footer>
    </section>
</body>

</html>