<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{.blog.Desc}}">
    <meta name="keywords" content="{{.blog.Keywords}}">
    <meta name="author" content="{{.blog.Author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/js.cookie.min.js"></script>
</head>
<body>
    <section>
        <header>
            <nav>
                <ul>
                    <li><span class="sitename">{{.blog.Name}}</span></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    {{ if gt .user.ID 0 }}
                        <li><a href="/add">add</a></li>
                        <li><a href="/profile">{{.user.Name}}</a></li>
                        <li><a href="/logout">logout</a></li>
                    {{ else }}
                        <li><a href="/login">login</a></li>
                    {{ end }}
                </ul>
            </nav>
        </header>